@page
@using DndApp.Pages.Subpages
@model CASOUModel
@{
    ViewData["Title"] = "CASOU";
}

<div>
    <div class="text-center">
        <h1 class="display-4" style="color: white">CASOU</h1>
    </div>

    <div class="container; blockContainer" style="background:white">
        <a class="nav-link" href="~/Docs/CASOU/CASOU Introduction.pdf" download="CASOU Introduction.pdf">Introduction</a>
        <a class="nav-link" href="~/Docs/CASOU/CASOU Quick Rules.pdf" download="CASOU Quick Rules.pdf">Quick Rules</a>
        <a class="nav-link" href="~/Docs/CASOU/CASOU Class Bios.pdf" download="CASOU Class Bios.pdf">Class Bios</a>
        <a class="nav-link" href="~/Docs/CASOU/CASOU Class Starting.pdf" download="CASOU Class Starting.pdf">Class Starting</a>
        <a class="nav-link" href="~/Docs/CASOU/CASOU Class Upgrades.pdf" download="CASOU Class Upgrades.pdf">Class Upgrades</a>
        <a class="nav-link" href="~/Docs/CASOU/CASOU Base.pdf" download="CASOU Base.pdf">CASOU Base</a>

        <a class="nav-link" asp-page="/Index">Back home</a>
    </div>
</div>


