@page
@using DndApp.Pages.Subpages
@model FLModel
@{
    ViewData["Title"] = "Fallen London";
}
    
<div>
    
    <div class="text-center">
        <h1 class="display-4" style="color: white">Welcome Delicious Stranger</h1>
    </div>

    <div class="container; blockContainer" style="background: white">
        
        <br/>
            <a class="nav-link" href="~/Docs/FL/FL Races.pdf" download="FL Races.pdf">Races</a>
            <a class="nav-link" href="~/Docs/FL/FL Basic Classes.pdf" download="FL Basic Classes.pdf">Basic Classes</a>
            <a class="nav-link" href="~/Docs/FL/FL Expansion Classes.pdf" download="FL Expansion Classes.pdf">Expansion Classes</a>

            <a class="nav-link" asp-page="/Index">Back home</a>
        <br />
    </div>

</div>



