@page
@using DndApp.Pages.Subpages
@model LunaCModel
@{
    ViewData["Title"] = "Luna C";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Luna C</h1>
    </div>

    <div class="container; blockContainer" style="background: white">
    
        <a class="nav-link" href="~/Docs/LunaC/Luna C.docx" download="Luna C.docx">Employee Handbook</a>

        <a class="nav-link" asp-page="/Index">Back home</a>
    </div>
</div>

