@page
@using DndApp.Pages.Subpages
@model MWHModel
@{
    ViewData["Title"] = "Mount and Warhammer";
}

<div>

    <div class="text-center">
        <h1 class="display-4" style="color:black">Mount and Warhammer</h1>
    </div>

    <div class="container; blockContainer" style="background: white">
        <a class="nav-link" href="~/Docs/MWH/MWH Basic Rules.pdf" download="MWH Basic Rules.pdf">Basic Rules</a>
        <a class="nav-link" href="~/Docs/MWH/MWH Campaign rules.pdf" download="MWH Campaign Rules.pdf">Campaign Rules</a>
        <a class="nav-link" href="~/Docs/MWH/MWH Character Sheet.pdf" download="MWH Character Sheet.pdf">Character Sheet</a>
        <a class="nav-link" href="~/Docs/MWH/MWH Battle rules.pdf" download="MWH Battle Rules.pdf">Battle Rules</a>
        <a class="nav-link" href="~/Docs/MWH/MWH Faction Traits.pdf" download="MWH Faction Traits.pdf">Faction Traits</a>
        <a class="nav-link" href="~/Docs/MWH/MWH 8 Winds of Magic.pdf" download="MWH 8 Winds of Magic.pdf">8 Winds of Magic</a>
        <a class="nav-link" href="~/Docs/MWH/MWH Other Magics.pdf" download="MWH Other Magics.pdf">Other Magics</a>

        @* Seperating Rules and Army lists *@

        @* OGs *@
        <a class="nav-link" href="~/Docs/MWH/Armies/MWH Empire Army.pdf" download="MWH Empire Army.pdf">Empire Army sheet</a>
        <a class="nav-link" href="~/Docs/MWH/Armies/MWH Goblin Tribe Army.pdf" download="MWH Goblin Tribe Army.pdf">Goblin Army sheet</a>
        <a class="nav-link" href="~/Docs/MWH/Armies/MWH Dwarf Army.pdf" download="MWH Dwarf Army.pdf">Dwarf Army sheet</a>
        <a class="nav-link" href="~/Docs/MWH/Armies/MWH Vampire Army.pdf" download="MWH Vampire Army.pdf">Vampire Army sheet</a>
        <a class="nav-link" href="~/Docs/MWH/Armies/MWH Norsca Army.pdf" download="MWH Norsca Army.pdf">Norsca Army sheet</a>

        @* Mercs *@
        <a class="nav-link" href="~/Docs/MWH/Armies/MWH Rogues Army.pdf" download="MWH Rogues Army.pdf">Rogues Army sheet</a>
        <a class="nav-link" href="~/Docs/MWH/Armies/MWH Tilean Army.pdf" download="MWH Tilean Army.pdf">Tilean Army sheet</a>
        <a class="nav-link" href="~/Docs/MWH/Armies/MWH Araby Army.pdf" download="MWH Araby Army.pdf">Araby Army sheet</a>
        <a class="nav-link" href="~/Docs/MWH/Armies/MWH Nippon Army.pdf" download="MWH Nippon Army.pdf">Nippon Army sheet</a>
        <a class="nav-link" href="~/Docs/MWH/Armies/MWH Ogre Kingdoms Army.pdf" download="MWH Ogre Kingdoms Army.pdf">Ogre Kingdoms Army sheet</a>

        @* New worlds *@
        <a class="nav-link" href="~/Docs/MWH/Armies/MWH Wood Elves Army.pdf" download="MWH Wood Elves Army.pdf">Wood Elves Army sheet</a>
        <a class="nav-link" href="~/Docs/MWH/Armies/MWH Beastmen Army.pdf" download="MWH Beastmen Army.pdf">Beastmen Army sheet</a>
        <a class="nav-link" href="~/Docs/MWH/Armies/MWH Skaven Army.pdf" download="MWH Skaven Army.pdf">Skaven Army sheet</a>
        <a class="nav-link" href="~/Docs/MWH/Armies/MWH High Elves Army.pdf" download="MWH High Elves Army.pdf">High Elves Army sheet</a>

        <a class="nav-link text-dark" asp-page="/Index">Back home</a>
    </div>
</div>

