@page
@using DndApp.Pages.Subpages
@model TWWKModel
@{
    ViewData["Title"] = "The World We Knew";
}

<div>

    <div class="text-center">
        <h1 class="display-4">The World We Knew</h1>
    </div>

    <div class="container; blockContainer" style="background: white">
        <a class="nav-link" href="~/Docs/TWWK/TWWK The World.pdf" download="TWWK The World.pdf">The World</a>
        <a class="nav-link" href="~/Docs/TWWK/TWWK Basic rules.pdf" download="TWWK Basic rules.pdf">Basic rules</a>
        <a class="nav-link" href="~/Docs/TWWK/TWWK Classes.pdf" download="TWWK Classes.pdf">Classes</a>
        <a class="nav-link" href="~/Docs/TWWK/TWWK Class Traits.pdf" download="TWWK Class Traits.pdf">Class Traits</a>
        <a class="nav-link" href="~/Docs/TWWK/TWWK General Traits.pdf download="TWWK General Traits.pdf">General Traits</a>
        <a class="nav-link" href="~/Docs/TWWK/TWWK Wears.pdf" download="TWWK Waers.pdf">Wears</a>

        <a class="nav-link" asp-page="/Index">Back home</a>
    </div>
</div>

