@page
@using DndApp.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <a class="nav-link text-dark" asp-page="Subpages/FL">Fallen London</a>
    <a class="nav-link text-dark" asp-page="Subpages/SS">Sunless Sea</a>
    <a class="nav-link text-dark" asp-page="Subpages/CASOU">CASOU</a>
    <a class="nav-link text-dark" asp-page="Subpages/MWH">Mount and Warhammer</a>
    <a class="nav-link text-dark" asp-page="Subpages/TWWK">The World We Knew</a>
    <a class="nav-link text-dark" asp-page="Subpages/LunaC">Luna C</a>
</div>